---
import Layout from '@/layouts/Layout.astro'

// Page-specific SEO configuration
const pageTitle = 'Master Astro Template - Login Page'
---

<Layout title={pageTitle}>
  <!-- Main Content with semantic HTML -->
  <!-- <LogingPage /> -->

  <h1>Login</h1>
</Layout>
